<div class="whole-thing">
  <h1>Yummy Nom Nom</h1>

  <% @courses.each do |course| %>
    <p><%= course.name %></p>
        <% course.dishes.each do |dish|%>
      <div class="course-names">
        <%= dish.name %>
        <%= dish.description %>
        <%= dish.price %>
      </div>
      <% end %>
    <p>  <%= link_to 'New_Dish', new_dish_path(course_id: course.id)%></p>
  <% end %>

</div>
